---
import Section from "../Section.astro";
---

<Section>
    <div>
        <section>
            <h2>Cursos</h2>
            <hr>
        <p>
            &bull; Comercio electrónico ✓
        </p>
        <p>
            &bull; Sostenibilidad ✓
        </p>
        <p>
            &bull; Redacción científica ✓
        </p>
        <p>
            &bull; Gestión de proyectos y negocios ✓
        </p>
        <p>
            &bull; Fundamentos de administración <br> y gestión organizacional ✓
        </p>
        </section>
        
        <section>
            <h2>Habilidades Blandas</h2>
            <hr>
            <p>
                &bull; Responsabilidad ✓
            </p>
            <p>
                &bull; Trabajo en equipo ✓
            </p>
            <p>
                &bull; Creatividad ✓
            </p>
            <p>
                &bull; Comunicación ✓
            </p>
            <p>
                &bull; Diligencia ✓
            </p>
            <p>
                &bull; Control de agenda ✓
            </p>
        </section>

    </div>

</Section>

<style>
    div {
        display: flex;
        flex-direction: row;
    }

    section {
        width: 50%;
    }
    hr {
        width: 80%;
        margin-left: -10px;
    }
</style>