---
import Section from "../Section.astro";
---

<Section>
    <div>
        <section>
            <h2>Cursos</h2>
            <hr>
        <p>
            &bull; Comercio electrónico ✓
        </p>
        <p>
            &bull; Diseño gráfico ✓
        </p>
        <p>
            &bull; Sostenibilidad ✓
        </p>
        <p>
            &bull; Redacción científica ✓
        </p>
        <p>
            &bull; Gestión de proyectos y negocios ✓
        </p>
        <p>
            &bull; Fundamentos de administración <br> y gestión organizacional ✓
        </p>
        </section>
        
        <section>
            <h2>Habilidades Blandas</h2>
            <hr>
            <p>
                &bull; Responsabilidad ✓
            </p>
            <p>
                &bull; Trabajo en equipo ✓
            </p>
            <p>
                &bull; Creatividad ✓
            </p>
            <p>
                &bull; Comunicación ✓
            </p>
            <p>
                &bull; Diligencia ✓
            </p>
            <p>
                &bull; Control de agenda ✓
            </p>
            <p>
                &bull; Constancia ✓
            </p>
        </section>

    </div>

</Section>

<style>
    div > section {
        width: 100%;
        height: auto;

    }

    div {
        display: grid;
        grid-template-columns: 
        repeat(
            auto-fit,
            minmax( 250px, 1fr )
        );
        gap: 48px;
    }

    section {
        width: 50%;
    }
    
    hr {
        width: 90%;
        margin-left: -10px;
    }
</style>